USE [master]
GO
/****** Object:  Database [madar]    Script Date: 11/10/2025 9:30:34 AM ******/
CREATE DATABASE [madar]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'madar', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\madar.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'madar_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\madar_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [madar].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [madar]
GO
/****** Object:  Table [dbo].[AreaOwner]    Script Date: 11/10/2025 9:30:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AreaOwner](
	[AO_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[AO_FNAME] [nvarchar](100) NOT NULL,
	[AO_LNAME] [nvarchar](100) NOT NULL,
	[AO_EMAIL] [nvarchar](190) NOT NULL,
	[AO_EXTENSION] [nvarchar](20) NULL,
	[AO_ROLE] [nvarchar](80) NULL,
	[AO_PASSWORD] [nvarchar](255) NOT NULL,
	[CREATED_AT] [datetime2](0) NOT NULL,
	[UPDATED_AT] [datetime2](0) NOT NULL,
 CONSTRAINT [PK__AreaOwne__4EB9FCAC4C7EC606] PRIMARY KEY CLUSTERED 
(
	[AO_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ__AreaOwne__A6D297131E849D03] UNIQUE NONCLUSTERED 
(
	[AO_EMAIL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Audit]    Script Date: 11/10/2025 9:30:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Audit](
	[AUDIT_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[AUD_SCH_ID] [bigint] NOT NULL,
	[AUDIT_TITLE] [nvarchar](180) NOT NULL,
	[AUDIT_DESCRIPTION] [nvarchar](max) NULL,
	[AUDIT_CHECKLIST_STEPS] [nvarchar](max) NULL,
	[AUDIT_STATUS] [nvarchar](30) NOT NULL,
	[CREATED_AT] [datetime2](0) NOT NULL,
	[UPDATED_AT] [datetime2](0) NOT NULL,
 CONSTRAINT [PK__Audit__CDFE7087AE6C8155] PRIMARY KEY CLUSTERED 
(
	[AUDIT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AuditAttendance]    Script Date: 11/10/2025 9:30:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AuditAttendance](
	[AUD_ATTEND_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[AUDIT_ID] [bigint] NOT NULL,
	[AUD_ID] [bigint] NOT NULL,
	[RESP_ID] [bigint] NULL,
	[AUD_ATTEND_DATE] [date] NOT NULL,
	[AUD_ATTEND_STATUS] [nvarchar](30) NOT NULL,
	[AUD_ARRIVAL_TIME] [time](0) NULL,
	[AUD_DEPART_TIME] [time](0) NULL,
	[CREATED_AT] [datetime2](0) NOT NULL,
	[UPDATED_AT] [datetime2](0) NOT NULL,
 CONSTRAINT [PK__AuditAtt__79B2DB4377ADA31C] PRIMARY KEY CLUSTERED 
(
	[AUD_ATTEND_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AuditEquipment]    Script Date: 11/10/2025 9:30:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AuditEquipment](
	[AUDIT_ID] [bigint] NOT NULL,
	[EQUIP_ID] [bigint] NOT NULL,
	[AE_DATE] [date] NULL,
	[AE_TIME] [time](0) NULL,
	[CREATED_AT] [datetime2](0) NOT NULL,
	[UPDATED_AT] [datetime2](0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[AUDIT_ID] ASC,
	[EQUIP_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AuditHistory]    Script Date: 11/10/2025 9:30:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AuditHistory](
	[AUD_HISTORY_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[AUDIT_ID] [bigint] NOT NULL,
	[AO_ID] [bigint] NOT NULL,
	[MGMT_ID] [bigint] NOT NULL,
	[AUD_HISTORY_TITLE] [nvarchar](180) NULL,
	[AUD_HISTORY_STATUS] [nvarchar](30) NOT NULL,
	[AUD_HISTORY_SCORE] [decimal](5, 2) NULL,
	[AUD_HISTORY_COMMENTS] [nvarchar](max) NULL,
	[AUD_HISTORY_ESCALATION_LEVEL] [nvarchar](50) NULL,
	[CREATED_AT] [datetime2](0) NOT NULL,
	[UPDATED_AT] [datetime2](0) NOT NULL,
 CONSTRAINT [PK__AuditHis__BDCC553EA6995BFE] PRIMARY KEY CLUSTERED 
(
	[AUD_HISTORY_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Auditor]    Script Date: 11/10/2025 9:30:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Auditor](
	[AUD_ID] [bigint] NOT NULL,
	[AUD_FNAME] [nvarchar](100) NOT NULL,
	[AUD_LNAME] [nvarchar](100) NOT NULL,
	[AUD_EMAIL] [nvarchar](190) NOT NULL,
	[AUD_EXTENSION] [nvarchar](20) NULL,
	[AUD_ROLE] [nvarchar](80) NULL,
	[AUD_PASSWORD] [nvarchar](255) NOT NULL,
	[CREATED_AT] [datetime2](0) NOT NULL,
	[UPDATED_AT] [datetime2](0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[AUD_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[AUD_EMAIL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AuditorAllocation]    Script Date: 11/10/2025 9:30:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AuditorAllocation](
	[AUD_ID] [bigint] NOT NULL,
	[AUD_SCH_ID] [bigint] NOT NULL,
	[ASSIGNED_DATE] [date] NULL,
	[ROLE_TYPE] [nvarchar](40) NULL,
	[CREATED_AT] [datetime2](0) NOT NULL,
	[UPDATED_AT] [datetime2](0) NOT NULL,
 CONSTRAINT [PK__AuditorA__D0DF5B75F00DD9D0] PRIMARY KEY CLUSTERED 
(
	[AUD_ID] ASC,
	[AUD_SCH_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AuditSchedule]    Script Date: 11/10/2025 9:30:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AuditSchedule](
	[AUD_SCH_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[PLANT_ID] [bigint] NOT NULL,
	[AUD_SCH_DATE] [date] NOT NULL,
	[AUD_SCH_STATUS] [nvarchar](30) NOT NULL,
	[AUD_SCH_DURATION] [int] NULL,
	[CREATED_AT] [datetime2](0) NOT NULL,
	[UPDATED_AT] [datetime2](0) NOT NULL,
 CONSTRAINT [PK__AuditSch__1F3C45B0C8BB77D6] PRIMARY KEY CLUSTERED 
(
	[AUD_SCH_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CorrectiveAction]    Script Date: 11/10/2025 9:30:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CorrectiveAction](
	[ACTION_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[RESP_ID] [bigint] NULL,
	[AUDIT_ID] [bigint] NOT NULL,
	[MGMT_ID] [bigint] NULL,
	[ACTION_DESCRIPTION] [nvarchar](max) NOT NULL,
	[ACTION_DEADLINE_DATE] [date] NOT NULL,
	[ACTION_STATUS] [nvarchar](30) NOT NULL,
	[CREATED_AT] [datetime2](0) NOT NULL,
	[UPDATED_AT] [datetime2](0) NOT NULL,
 CONSTRAINT [PK__Correcti__A7EC837116B6787E] PRIMARY KEY CLUSTERED 
(
	[ACTION_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Equipment]    Script Date: 11/10/2025 9:30:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Equipment](
	[EQUIP_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[PLANT_ID] [bigint] NOT NULL,
	[EQUIP_NAME] [nvarchar](150) NOT NULL,
	[EQUIP_TYPE] [nvarchar](100) NULL,
	[EQUIP_MODEL] [nvarchar](100) NULL,
	[EQUIP_STATUS] [nvarchar](30) NOT NULL,
	[EQUIP_LOCATION] [nvarchar](200) NULL,
	[EQUIP_CAPACITY] [int] NULL,
	[EQUIP_MAINTEN_CYCLE] [nvarchar](50) NULL,
	[CREATED_AT] [datetime2](0) NOT NULL,
	[UPDATED_AT] [datetime2](0) NOT NULL,
 CONSTRAINT [PK__Equipmen__8C95A5B35298CEB2] PRIMARY KEY CLUSTERED 
(
	[EQUIP_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Evidence]    Script Date: 11/10/2025 9:30:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Evidence](
	[EVIDENCE_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[AUDIT_ID] [bigint] NULL,
	[EVIDENCE_TITLE] [nvarchar](180) NULL,
	[EVIDENCE_URL] [nvarchar](500) NOT NULL,
	[CREATED_AT] [datetime2](0) NOT NULL,
	[UPDATED_AT] [datetime2](0) NOT NULL,
	[ACTION_ID] [int] NULL,
 CONSTRAINT [PK__Evidence__B9272A42AC0D457F] PRIMARY KEY CLUSTERED 
(
	[EVIDENCE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Management]    Script Date: 11/10/2025 9:30:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Management](
	[MGMT_ID] [bigint] NOT NULL,
	[MGMT_FNAME] [nvarchar](100) NOT NULL,
	[MGMT_LNAME] [nvarchar](100) NOT NULL,
	[MGMT_EMAIL] [nvarchar](190) NOT NULL,
	[MGMT_EXTENSION] [nvarchar](20) NULL,
	[MGMT_ROLE] [nvarchar](80) NULL,
	[MGMT_PASSWORD] [nvarchar](255) NOT NULL,
	[CREATED_AT] [datetime2](0) NOT NULL,
	[UPDATED_AT] [datetime2](0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MGMT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[MGMT_EMAIL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Plant]    Script Date: 11/10/2025 9:30:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Plant](
	[PLANT_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[MGMT_ID] [bigint] NOT NULL,
	[AO_ID] [bigint] NOT NULL,
	[PLANT_NAME] [nvarchar](150) NOT NULL,
	[PLANT_LOCATION] [nvarchar](200) NULL,
	[PLANT_STATUS] [nvarchar](30) NOT NULL,
	[PLANT_TYPE] [nvarchar](80) NULL,
	[PLANT_CAPACITY] [int] NULL,
	[PLANT_EQUIPMENT_COUNT] [int] NULL,
	[CREATED_AT] [datetime2](0) NOT NULL,
	[UPDATED_AT] [datetime2](0) NOT NULL,
 CONSTRAINT [PK__Plant__6CC7CE6DF4DA8588] PRIMARY KEY CLUSTERED 
(
	[PLANT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ResponsiblePerson]    Script Date: 11/10/2025 9:30:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ResponsiblePerson](
	[RESP_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[AO_ID] [bigint] NOT NULL,
	[RESP_FNAME] [nvarchar](100) NOT NULL,
	[RESP_LNAME] [nvarchar](100) NOT NULL,
	[RESP_ROLE] [nvarchar](80) NULL,
	[RESP_EMAIL] [nvarchar](190) NOT NULL,
	[RESP_EXTENSION] [nvarchar](20) NULL,
	[RESP_PASSWORD] [nvarchar](255) NOT NULL,
	[CREATED_AT] [datetime2](0) NOT NULL,
	[UPDATED_AT] [datetime2](0) NOT NULL,
 CONSTRAINT [PK__Responsi__112D4FBD4D58D115] PRIMARY KEY CLUSTERED 
(
	[RESP_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ__Responsi__0678342EFF291BDF] UNIQUE NONCLUSTERED 
(
	[RESP_EMAIL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[AreaOwner] ADD  CONSTRAINT [DF_AreaOwner_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CREATED_AT]
GO
ALTER TABLE [dbo].[AreaOwner] ADD  CONSTRAINT [DF_AreaOwner_UpdatedAt]  DEFAULT (sysutcdatetime()) FOR [UPDATED_AT]
GO
ALTER TABLE [dbo].[Audit] ADD  CONSTRAINT [DF_Audit_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CREATED_AT]
GO
ALTER TABLE [dbo].[Audit] ADD  CONSTRAINT [DF_Audit_UpdatedAt]  DEFAULT (sysutcdatetime()) FOR [UPDATED_AT]
GO
ALTER TABLE [dbo].[AuditAttendance] ADD  CONSTRAINT [DF_Att_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CREATED_AT]
GO
ALTER TABLE [dbo].[AuditAttendance] ADD  CONSTRAINT [DF_Att_UpdatedAt]  DEFAULT (sysutcdatetime()) FOR [UPDATED_AT]
GO
ALTER TABLE [dbo].[AuditEquipment] ADD  CONSTRAINT [DF_AudEquip_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CREATED_AT]
GO
ALTER TABLE [dbo].[AuditEquipment] ADD  CONSTRAINT [DF_AudEquip_UpdatedAt]  DEFAULT (sysutcdatetime()) FOR [UPDATED_AT]
GO
ALTER TABLE [dbo].[AuditHistory] ADD  CONSTRAINT [DF_AudHist_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CREATED_AT]
GO
ALTER TABLE [dbo].[AuditHistory] ADD  CONSTRAINT [DF_AudHist_UpdatedAt]  DEFAULT (sysutcdatetime()) FOR [UPDATED_AT]
GO
ALTER TABLE [dbo].[Auditor] ADD  CONSTRAINT [DF_Auditor_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CREATED_AT]
GO
ALTER TABLE [dbo].[Auditor] ADD  CONSTRAINT [DF_Auditor_UpdatedAt]  DEFAULT (sysutcdatetime()) FOR [UPDATED_AT]
GO
ALTER TABLE [dbo].[AuditorAllocation] ADD  CONSTRAINT [DF_Alloc_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CREATED_AT]
GO
ALTER TABLE [dbo].[AuditorAllocation] ADD  CONSTRAINT [DF_Alloc_UpdatedAt]  DEFAULT (sysutcdatetime()) FOR [UPDATED_AT]
GO
ALTER TABLE [dbo].[AuditSchedule] ADD  CONSTRAINT [DF_AudSch_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CREATED_AT]
GO
ALTER TABLE [dbo].[AuditSchedule] ADD  CONSTRAINT [DF_AudSch_UpdatedAt]  DEFAULT (sysutcdatetime()) FOR [UPDATED_AT]
GO
ALTER TABLE [dbo].[CorrectiveAction] ADD  CONSTRAINT [DF_CA_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CREATED_AT]
GO
ALTER TABLE [dbo].[CorrectiveAction] ADD  CONSTRAINT [DF_CA_UpdatedAt]  DEFAULT (sysutcdatetime()) FOR [UPDATED_AT]
GO
ALTER TABLE [dbo].[Equipment] ADD  CONSTRAINT [DF_Equipment_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CREATED_AT]
GO
ALTER TABLE [dbo].[Equipment] ADD  CONSTRAINT [DF_Equipment_UpdatedAt]  DEFAULT (sysutcdatetime()) FOR [UPDATED_AT]
GO
ALTER TABLE [dbo].[Evidence] ADD  CONSTRAINT [DF_Evidence_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CREATED_AT]
GO
ALTER TABLE [dbo].[Evidence] ADD  CONSTRAINT [DF_Evidence_UpdatedAt]  DEFAULT (sysutcdatetime()) FOR [UPDATED_AT]
GO
ALTER TABLE [dbo].[Management] ADD  CONSTRAINT [DF_Management_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CREATED_AT]
GO
ALTER TABLE [dbo].[Management] ADD  CONSTRAINT [DF_Management_UpdatedAt]  DEFAULT (sysutcdatetime()) FOR [UPDATED_AT]
GO
ALTER TABLE [dbo].[Plant] ADD  CONSTRAINT [DF_Plant_EquipCount]  DEFAULT ((0)) FOR [PLANT_EQUIPMENT_COUNT]
GO
ALTER TABLE [dbo].[Plant] ADD  CONSTRAINT [DF_Plant_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CREATED_AT]
GO
ALTER TABLE [dbo].[Plant] ADD  CONSTRAINT [DF_Plant_UpdatedAt]  DEFAULT (sysutcdatetime()) FOR [UPDATED_AT]
GO
ALTER TABLE [dbo].[ResponsiblePerson] ADD  CONSTRAINT [DF_Resp_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CREATED_AT]
GO
ALTER TABLE [dbo].[ResponsiblePerson] ADD  CONSTRAINT [DF_Resp_UpdatedAt]  DEFAULT (sysutcdatetime()) FOR [UPDATED_AT]
GO
ALTER TABLE [dbo].[AreaOwner] CHECK CONSTRAINT [FK_AreaOwner_User]
GO
ALTER TABLE [dbo].[Audit]  WITH CHECK ADD  CONSTRAINT [FK_Audit_Schedule] FOREIGN KEY([AUD_SCH_ID])
REFERENCES [dbo].[AuditSchedule] ([AUD_SCH_ID])
GO
ALTER TABLE [dbo].[Audit] CHECK CONSTRAINT [FK_Audit_Schedule]
GO
ALTER TABLE [dbo].[AuditAttendance]  WITH CHECK ADD  CONSTRAINT [FK_AuditAttendance_Audit] FOREIGN KEY([AUDIT_ID])
REFERENCES [dbo].[Audit] ([AUDIT_ID])
GO
ALTER TABLE [dbo].[AuditAttendance] CHECK CONSTRAINT [FK_AuditAttendance_Audit]
GO
ALTER TABLE [dbo].[AuditAttendance]  WITH CHECK ADD  CONSTRAINT [FK_AuditAttendance_Auditor] FOREIGN KEY([AUD_ID])
REFERENCES [dbo].[Auditor] ([AUD_ID])
GO
ALTER TABLE [dbo].[AuditAttendance] CHECK CONSTRAINT [FK_AuditAttendance_Auditor]
GO
ALTER TABLE [dbo].[AuditAttendance]  WITH CHECK ADD  CONSTRAINT [FK_AuditAttendance_ResponsiblePerson] FOREIGN KEY([RESP_ID])
REFERENCES [dbo].[ResponsiblePerson] ([RESP_ID])
GO
ALTER TABLE [dbo].[AuditAttendance] CHECK CONSTRAINT [FK_AuditAttendance_ResponsiblePerson]
GO
ALTER TABLE [dbo].[AuditHistory]  WITH CHECK ADD  CONSTRAINT [FK_AuditHistory_AreaOwner] FOREIGN KEY([AO_ID])
REFERENCES [dbo].[AreaOwner] ([AO_ID])
GO
ALTER TABLE [dbo].[AuditHistory] CHECK CONSTRAINT [FK_AuditHistory_AreaOwner]
GO
ALTER TABLE [dbo].[AuditHistory]  WITH CHECK ADD  CONSTRAINT [FK_AuditHistory_Audit] FOREIGN KEY([AUDIT_ID])
REFERENCES [dbo].[Audit] ([AUDIT_ID])
GO
ALTER TABLE [dbo].[AuditHistory] CHECK CONSTRAINT [FK_AuditHistory_Audit]
GO
ALTER TABLE [dbo].[AuditHistory]  WITH CHECK ADD  CONSTRAINT [FK_AuditHistory_Management] FOREIGN KEY([MGMT_ID])
REFERENCES [dbo].[Management] ([MGMT_ID])
GO
ALTER TABLE [dbo].[AuditHistory] CHECK CONSTRAINT [FK_AuditHistory_Management]
GO

ALTER TABLE [dbo].[Auditor] CHECK CONSTRAINT [FK_Auditor_User]
GO
ALTER TABLE [dbo].[AuditorAllocation]  WITH CHECK ADD  CONSTRAINT [FK_AuditorAllocation_Auditor] FOREIGN KEY([AUD_ID])
REFERENCES [dbo].[Auditor] ([AUD_ID])
GO
ALTER TABLE [dbo].[AuditorAllocation] CHECK CONSTRAINT [FK_AuditorAllocation_Auditor]
GO
ALTER TABLE [dbo].[AuditorAllocation]  WITH CHECK ADD  CONSTRAINT [FK_AuditorAllocation_Schedule] FOREIGN KEY([AUD_SCH_ID])
REFERENCES [dbo].[AuditSchedule] ([AUD_SCH_ID])
GO
ALTER TABLE [dbo].[AuditorAllocation] CHECK CONSTRAINT [FK_AuditorAllocation_Schedule]
GO
ALTER TABLE [dbo].[CorrectiveAction]  WITH CHECK ADD  CONSTRAINT [FK_CorrectiveAction_Audit] FOREIGN KEY([AUDIT_ID])
REFERENCES [dbo].[Audit] ([AUDIT_ID])
GO
ALTER TABLE [dbo].[CorrectiveAction] CHECK CONSTRAINT [FK_CorrectiveAction_Audit]
GO
ALTER TABLE [dbo].[CorrectiveAction]  WITH CHECK ADD  CONSTRAINT [FK_CorrectiveAction_Management] FOREIGN KEY([MGMT_ID])
REFERENCES [dbo].[Management] ([MGMT_ID])
GO
ALTER TABLE [dbo].[CorrectiveAction] CHECK CONSTRAINT [FK_CorrectiveAction_Management]
GO
ALTER TABLE [dbo].[CorrectiveAction]  WITH CHECK ADD  CONSTRAINT [FK_CorrectiveAction_ResponsiblePerson] FOREIGN KEY([RESP_ID])
REFERENCES [dbo].[ResponsiblePerson] ([RESP_ID])
GO
ALTER TABLE [dbo].[CorrectiveAction] CHECK CONSTRAINT [FK_CorrectiveAction_ResponsiblePerson]
GO
ALTER TABLE [dbo].[Management] CHECK CONSTRAINT [FK_Management_User]
GO
ALTER TABLE [dbo].[Plant]  WITH CHECK ADD  CONSTRAINT [FK_Plant_AreaOwner] FOREIGN KEY([AO_ID])
REFERENCES [dbo].[AreaOwner] ([AO_ID])
GO
ALTER TABLE [dbo].[Plant] CHECK CONSTRAINT [FK_Plant_AreaOwner]
GO
ALTER TABLE [dbo].[Plant]  WITH CHECK ADD  CONSTRAINT [FK_Plant_Management] FOREIGN KEY([MGMT_ID])
REFERENCES [dbo].[Management] ([MGMT_ID])
GO
ALTER TABLE [dbo].[Plant] CHECK CONSTRAINT [FK_Plant_Management]
GO
ALTER TABLE [dbo].[ResponsiblePerson]  WITH CHECK ADD  CONSTRAINT [FK_ResponsiblePerson_AreaOwner] FOREIGN KEY([AO_ID])
REFERENCES [dbo].[AreaOwner] ([AO_ID])
GO
ALTER TABLE [dbo].[ResponsiblePerson] CHECK CONSTRAINT [FK_ResponsiblePerson_AreaOwner]
GO

ALTER TABLE [dbo].[ResponsiblePerson] CHECK CONSTRAINT [FK_ResponsiblePerson_User]
GO
ALTER TABLE [dbo].[Audit]  WITH CHECK ADD  CONSTRAINT [CK_Audit_Checklist_IsJson] CHECK  (([AUDIT_CHECKLIST_STEPS] IS NULL OR isjson([AUDIT_CHECKLIST_STEPS])=(1)))
GO
ALTER TABLE [dbo].[Audit] CHECK CONSTRAINT [CK_Audit_Checklist_IsJson]
GO
ALTER TABLE [dbo].[Audit]  WITH CHECK ADD  CONSTRAINT [CK_Audit_Status] CHECK  (([AUDIT_STATUS]=N'Cancelled' OR [AUDIT_STATUS]=N'Closed' OR [AUDIT_STATUS]=N'Under_Review' OR [AUDIT_STATUS]=N'In_Progress' OR [AUDIT_STATUS]=N'Draft'))
GO
ALTER TABLE [dbo].[Audit] CHECK CONSTRAINT [CK_Audit_Status]
GO
ALTER TABLE [dbo].[AuditAttendance]  WITH CHECK ADD  CONSTRAINT [CK_Att_Status] CHECK  (([AUD_ATTEND_STATUS]=N'Excused' OR [AUD_ATTEND_STATUS]=N'Late' OR [AUD_ATTEND_STATUS]=N'Absent' OR [AUD_ATTEND_STATUS]=N'Present'))
GO
ALTER TABLE [dbo].[AuditAttendance] CHECK CONSTRAINT [CK_Att_Status]
GO
ALTER TABLE [dbo].[AuditHistory]  WITH CHECK ADD  CONSTRAINT [CK_AudHist_Status] CHECK  (([AUD_HISTORY_STATUS]=N'Closed' OR [AUD_HISTORY_STATUS]=N'Escalated' OR [AUD_HISTORY_STATUS]=N'Reviewed' OR [AUD_HISTORY_STATUS]=N'Logged'))
GO
ALTER TABLE [dbo].[AuditHistory] CHECK CONSTRAINT [CK_AudHist_Status]
GO
ALTER TABLE [dbo].[AuditSchedule]  WITH CHECK ADD  CONSTRAINT [CK_AudSch_Status] CHECK  (([AUD_SCH_STATUS]='Cancelled' OR [AUD_SCH_STATUS]='Completed' OR [AUD_SCH_STATUS]='In_Progress' OR [AUD_SCH_STATUS]='Postponed' OR [AUD_SCH_STATUS]='Scheduled'))
GO
ALTER TABLE [dbo].[AuditSchedule] CHECK CONSTRAINT [CK_AudSch_Status]
GO
ALTER TABLE [dbo].[CorrectiveAction]  WITH CHECK ADD  CONSTRAINT [CK_CA_Status] CHECK  (([ACTION_STATUS]=N'Rejected' OR [ACTION_STATUS]=N'Overdue' OR [ACTION_STATUS]=N'Completed' OR [ACTION_STATUS]=N'Extended' OR [ACTION_STATUS]=N'In_Progress' OR [ACTION_STATUS]=N'Open'))
GO
ALTER TABLE [dbo].[CorrectiveAction] CHECK CONSTRAINT [CK_CA_Status]
GO
ALTER TABLE [dbo].[Equipment]  WITH CHECK ADD  CONSTRAINT [CK_Equip_Status] CHECK  (([EQUIP_STATUS]=N'Retired' OR [EQUIP_STATUS]=N'Under_Maintenance' OR [EQUIP_STATUS]=N'Out_of_Service' OR [EQUIP_STATUS]=N'In_Service'))
GO
ALTER TABLE [dbo].[Equipment] CHECK CONSTRAINT [CK_Equip_Status]
GO
ALTER TABLE [dbo].[Plant]  WITH CHECK ADD  CONSTRAINT [CK_Plant_Status] CHECK  (([PLANT_STATUS]=N'Decommissioned' OR [PLANT_STATUS]=N'Under_Maintenance' OR [PLANT_STATUS]=N'Inactive' OR [PLANT_STATUS]=N'Active'))
GO
ALTER TABLE [dbo].[Plant] CHECK CONSTRAINT [CK_Plant_Status]
USE [master]
GO
